@model IEnumerable<VgcCollege.Web.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Course</a>
</p>

<table class="table table-striped">
    <thead>
    32
    <th>Name</th>
    <th>Branch</th>
    <th>Faculty</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Students</th>
    <th></th>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
        <td>@item.Name</td
        td@item.Branch?.Name</td
        td@item.FacultyProfile?.Name</td
            td@item.StartDate.ToShortDateString()</td
            td@item.EndDate.ToShortDateString()</td
            td@item.Enrolments.Count</td
        td
            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
            </tr
    }
    </tbody>
</table>